<p id="notice"><%= notice %></p>

<p>
  <strong>Gallery:</strong>
  <%= @picture.gallery_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @picture.image %>
</p>

<%= link_to 'Edit', edit_gallery_picture_path(@gallery,@picture) %> |
<%= link_to 'Back', gallery_pictures_path(@gallery) %>
